<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
        <meta charset="utf-8">
        <title>JQuery Boggle</title>
    </head>
    
    <body>
      <div id="time" class="time-box">
        <p>00:00:00</p>
      </div>
      <div id="score" class="score-box">
        <p>Score: 0</p>
      </div>
      <div class="general-container">
        <div class="boggle-container">
          <div class="boggle-row">
            <div id="0" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="1" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="2" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="3" class="boggle-box"><p class="boggle-letter" /></div>
          </div>
          <div class="boggle-row">
            <div id="4" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="5" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="6" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="7" class="boggle-box"><p class="boggle-letter" /></div>
          </div>
          <div class="boggle-row">
            <div id="8" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="9" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="10" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="11" class="boggle-box"><p class="boggle-letter" /></div>          
          </div>
          <div class="boggle-row">
            <div id="12" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="13" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="14" class="boggle-box"><p class="boggle-letter" /></div>
            <div id="15" class="boggle-box"><p class="boggle-letter" /></div>   
          </div>
          <div class="boggle-word">
            <p></p>
          </div>
          <button id='play-button' class="play-word">
            Speel
          </button>
          <button id='new-game-button' class="new-game-word">
            New Game
          </button>
        </div>
        <div class="word-list-container">
          <p>Woorden</p>
          <div class="word-list"></div>
        </div>
      </div>
    </body>
</html>