<app-boggle></app-boggle>
<!-- <div class="container">
  <div class="row">
    <button class="item" mat-raised-button color='primary'>A</button>
    <button class="item" mat-raised-button color='primary'>B</button>
    <button class="item" mat-raised-button color='primary'>C</button>
    <button class="item" mat-raised-button color='primary'>D</button>
  </div>
  <div class="row">
    <button class="item" mat-raised-button color='primary'>E</button>
    <button class="item" mat-raised-button color='primary'>F</button>
    <button class="item" mat-raised-button color='primary'>G</button>
    <button class="item" mat-raised-button color='primary'>H</button>
  </div>
  <div class="row">
    <button class="item" mat-raised-button color='primary'>I</button>
    <button class="item" mat-raised-button color='primary'>J</button>
    <button class="item" mat-raised-button color='primary'>K</button>
    <button class="item" mat-raised-button color='primary'>L</button>
  </div>
  <div class="row">
    <button class="item" mat-raised-button color='primary'>M</button>
    <button class="item" mat-raised-button color='primary'>N</button>
    <button class="item" mat-raised-button color='primary'>O</button>
    <button class="item" mat-raised-button color='primary'>P</button>
  </div>
</div> -->
