.container {
  width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px;

  padding: 5px;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .item {
      flex: 1;
      margin: 5px;
      height: auto;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      overflow: hidden;
      min-width: 0;
    }

    .item:before {
      content: '';
      float: left;
      padding-top: 100%;
    }
  }
}
